<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your Finances</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Your custom styles -->
    <link rel="stylesheet" href="{% static "styles/admin/css/finances.css" %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'finance_app:home' %}">PIGGYBNK</a>
            <ul class="nav-links">
                <li><a href="{% url 'finance_app:home' %}">Home</a></li>
                <li><a href="{% url 'finance_app:finances' %}" class="active">Finances</a></li>
                <li><a href="{% url 'finance_app:planner' %}">Planner</a></li>
                <li><a href="{% url 'finance_app:assistant' %}">Assistant</a></li>
                <li><a href="{% url 'finance_app:about' %}">About Us</a></li>
            </ul>
        </div>
    </nav>
    <h1 class='title-text'>Your Finances</h1>

    <!-- Input Form -->
    <div class="container">
        <form id="transaction-form" class="transaction-form">
            <div class="left">
                <!-- Transaction Input Form -->
                <input type="text" id="transaction-name" placeholder="Enter transaction name">
                <input type="number" id="transaction-amount" placeholder="Enter transaction amount">
            </div>
            <div class="right">
                <!-- Account Balance Input Form -->
                <input type="text" id="account-name" placeholder="Account to withdraw from">
                <input type="number" id="account-amount" placeholder="Account Balance">
            </div>
            <button class="button" type="submit">Submit Payments</button> <!-- Submit button outside the forms -->
        </form>

        <!-- Account Balances Section -->
        <div id="account-balances-container" class ="hidden">
            <h2 class="account-balances-text">Your Piggybnk<span id="account-balances"></span></h2>
            <ul id="account-balances-list"></ul>
        </div>

        <!-- Remaining Balance Section -->
        <div id="remaining-balance-container" class="hidden">
            <h2 class="remaining-balance-text">Remaining Balance: $<span id="remaining-balance">0.00</span></h2>
        </div>

        <div class="chart-container">
            <!-- Pie Chart Container -->
            <canvas id="pie-chart"></canvas>
        </div>
    </div>

    <table id="transaction-table" class="table hidden">
        <h1 class="your-piggybnk hidden"> Your Spending </h1>
        <thead>
            <tr>
                <th class="subtitles">Transaction Name</th>
                <th class="subtitles">Transaction Amount</th>
            </tr>
        </thead>
        <tbody class="finance-vals">
            <!-- Table rows for transactions and reimbursements will be dynamically added here -->
        </tbody>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="{% static "styles/admin/js/finances.js" %}"></script>
</body>
</html>
