<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'styles/admin/css/registerstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-box">
                {{ form.username.label_tag }}
                {{ form.username }}
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                {{ form.password.label_tag }}
                {{ form.password }}
                <i class='bx bxs-key'></i>
            </div>
            <div class="input-box">
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
                <i class='bx bxs-key'></i>
            </div>
            {% if form.errors %}
                <div class="error">
                    {{ form.errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn">Register</button>
            <div class="login-link">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </form>
    </div>
</body>
</html>
