body {
    font-family: 'Arial', sans-serif;
    color: #fff; /* assuming your text is white as per the website theme */
    background: #070952; /* the theme color */
}

/* Add styles for the header to match your website's theme */
.navbar {
    background-color: #ef4da0; /* Updated navbar color with transparency */
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navbar:hover {
    background-color: #a1306a; /* Darker shade on hover */
}

.images {
    display: flex;
    justify-content: center; /* Adjust this to control spacing */
    align-items: center; /* Align items vertically center */
}

.image-wrapper {
    text-align: center; /* Center the text under the images */
}

.images img {
    width: 250px; /* Adjust as needed */
    height: auto;
}


.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
  }

.navbar a.nav-link {
    color: #ffffff;
    transition: color 0.3s; /* Smooth color transition for hover effect */
}

.navbar a.nav-link:hover, .navbar a.nav-link.active {
    color: #dddddd; /* Lighter color on hover */
    text-decoration: none;
}
.piggy-svg {
    width: 65px;
    height: auto;
}

.piggybnk {
    color: #ef4da0;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.custom-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    margin-bottom: 5rem;
}

.hero-header h1 {
    font-size: 3rem; /* adjust size as needed */
    margin-bottom: 1rem;
    font-weight: bold;
    animation: none; /* assuming you want to remove the fadeIn effect */
}

/* Styles for paragraphs to enhance readability */
p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-size: 1.1rem; /* slightly larger font size for readability */
    max-width: 800px; /* to prevent lines from being too long on large screens */
    margin-left: auto;
    margin-right: auto; /* to center the text blocks */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .hero-header h1 {
        font-size: 2.5rem; /* smaller size for mobile */
    }

    p {
        font-size: 1rem; /* smaller size for mobile */
        padding: 0 1rem; /* add padding on the sides */
    }
}