* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: rgba(32, 32, 33, 0.56);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(102, 102, 102, 0.56);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(28, 28, 28, 0.56);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 55px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid rgba(42, 32, 53, 0.56);
    font-size: 15px;
    border-radius: 55px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgb(255, 255, 255);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: rgb(51, 51, 51);
    border: none;
    outline: none;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(190, 187, 189, 0.56);
    cursor: pointer;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.login-link p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: dashed;
}
